<div class="container">
     <div class="SignupForm">
          <div class="header">
               <h2>צור קשר</h2>
          </div>
          <form>
               <div class="whitespace"></div>
               <div>
                    <label>שם מלא</label><br />  <!-- שדה שם משתמש -->
                    <div class="whitespace"></div>
                    <input type="text" class="content" placeholder="שם מלא">

               </div>
               <div class="whitespace"></div>
               <label>פרטי התקשרות</label><br />  <!-- שדה שם משתמש -->

               <input type="text" id="text" placeholder="">

          </form>

          <div class="whitespace"></div>          
          <div class="whitespace"></div>

          <input #id type="button" value="שלח הודעה" (click)="ContactUs()"> <!--  דמה לשליחת טופס   -->
     </div>