*
{
    margin: 0px;
    padding: 0px;
}

html
{
    height: 100%;
}

body
{
    padding: 0px;
    margin: 0px;
}

.container
{
    box-sizing: border-box;
    position: relative;
    text-align: center;
    top: 20px;
    background-color: rgb(95, 165, 206);
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}

.container2
{
    position: relative;
    height: 90vh;
    background-color: rgb(95, 165, 206);
}

a
{
    text-decoration: none;
    color: rgb(204, 230, 255);
    font-size: 24px;
    font-weight: 800;    
    text-shadow: 0 0 3px rgb(65, 65, 65), 0 0 5px rgb(37, 96, 136);
}

a:hover
{
    color: rgb(139, 238, 255);
}