<div class="container">
    <div class="yellowcar">    
        <img id="car" src="assets/pictures/yellowcar.png">
    </div>
    <div class="sec1">
        <h1>חברה להשכרת רכבים</h1>  <!-- ראוטינג בסיסי לאורח -->
        <img class="logo" src="assets/pictures/logo.png"><br/>
            <span class="button" id="butonn" [routerLink]="['/SignUpForm']">להרשמה</span>
            <span class="button" [routerLink]="['/CarSelect']">הזמן עכשיו</span> 
            <span class="button" id="buttonn" [routerLink]="['/ContactUs']">צור קשר</span>
            
    </div>
    <div class="sec2">  <!-- תיאור החברה -->
        <p>חברה להשכרת רכב השלישית בגודלה בארץ.
            עם מעל 32 תחנות ,
            כשמאחוריה מעל 39 שנות פעילות ושירות לקהל הרחב.
            החברה החלה את פעילותה בישראל בשנת 1981.
            לחברה מספר גדול של סניפים ברחבי הארץ מעפולה ועד אילת, כולל סניף בנמל התעופה בן גוריון,
            הפעיל 24 שעות ביממה, 365 ימים בשנה.
        </p>
        <div class="white"></div>
        <p>
            צי רכבי החברה מאופיין במגוון רחב של כלי רכב חדישים.
        </p>
        <div class="white"></div>
        <p>
            אנחנו ממקומים במרכז לוגיסטי גדול בקרית שדה התעופה המשקף את ההתמקדות שלה בשירות ללקוח.
            המתחם כולל את משרדי ההנהלה, מוסך גדול,
            תחנת דלק ותחנת שטיפה. כמו כן, כולל המתחם אולם תצוגה מפואר למכירת רכב.
        </p>
        <div class="white"></div>
        <p>
            אנו מתחייבים למחירים נמוכים,יותר מ-4 מליון לקוחות מרוצים
        </p>
        <div class="white"></div>
        <div class="white"></div>
        <p style="text-align: center;"><b> בוא גם אתה והצטרף ללקוחותינו המרוצים!</b>
        </p>
        <div class="white"></div>
        <div class="white"></div>
        <div class="white"></div>

    </div>
</div>